<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cs.travels.mapper.PlaceMapper">
    <!--根据省份id查询所有景点信息并排序-->
    <select id="findByProvinceIdPage" resultType="com.cs.travels.entity.Place">

  select id,name,picpath,hottime,hotticket,dimticket,placedes,provinceid
  from t_place
  where provinceid = #{provinceId}
  order by hotticket desc
  limit #{start}, #{rows}

    </select>
    <!--根据省份id查询当前省份所有景点的个数-->
    <select id="findByProvinceIdCounts" resultType="java.lang.Integer" parameterType="String">

 select count(id) from t_place where provinceid = #{provinceId}

    </select>
    <!--根据id查询景点信息-->
    <select id="findOne" resultType="Place" parameterType="String">
    select id,name,picpath,hottime,hotticket,dimticket,placedes,provinceid
    from t_place
    where id = #{id}
    </select>
    <!--保存景点信息-->
    <insert id="add" parameterType="Place" useGeneratedKeys="true" keyProperty="id">
    insert into t_place values (#{id},#{name},#{picpath},#{hottime},#{hotticket},#{dimticket},#{placedes},#{provinceid})
    </insert>
     <!--更新景点信息-->
    <update id="updateProvinceInfo"  parameterType="Place">
          update  t_place set
          name = #{name},
          picpath = #{picpath},
          hottime = #{hottime},
          hotticket =#{hotticket},
         dimticket=  #{dimticket},
          placedes = #{placedes},
         provinceid= #{provinceid}
          where id = #{id}
    </update>
    <!--根据id来删除景点信息-->
    <delete id="deleteProvinceInfo" parameterType="string">
    delete  from t_place where id = #{id}
    </delete>


</mapper>